.banniere {
  background-color: #0c3944;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  color: white;
}
.mainHome {
  background-color: grey;
  height: 27rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnsubmit {
  width: 13rem;
  height: 3rem;
  background: white;
  font-family: Raleway;
  text-align: center;
  margin-bottom: 5px;
}
.champs {
  align-self: center;
  width: 20rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
}

.Modifier {
  text-align: center;
  font-size: 1.125rem;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  background-color: rgba(25, 108, 132, 1);
  color: black;
  border: 0.0625rem solid rgba(25, 108, 132, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.375rem;
  width: 15.1875rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3.375rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 1.6875rem;
  padding-left: 1.6875rem;
  min-width: 15.1875rem;
  transition: all 0.3s;
}
