.buttonNoClic {
  background-color: white;
  color: rgb(12, 57, 68);
  border: solid rgb(12, 57, 68);
}

.buttonClic {
  background-color: rgb(12, 57, 68);
  border: none;
  color: white;
}

.buttonClic,
.buttonNoClic {
  border-radius: 5px;
  margin: auto;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  width: 15svw;
  height: 45px;
}
