.commentPost {
  height: 23svh;
  width: 95%;
  box-shadow: none;
  display: flex;
  flex-direction: column;
}

.commentButton {
  text-align: center;
  font-size: 1.125rem;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  background-color: rgba(25, 108, 132, 1);
  border: 0.0625rem solid rgba(25, 108, 132, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.375rem;
  width: 15.1875rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3.375rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 1.6875rem;
  padding-left: 1.6875rem;
  min-width: 15.1875rem;
  transition: all 0.3s;
}

.authorComment {
  font-family: Raleway, sans-serif;
  border-bottom: dotted 1px;
  font-size: 1.1em;
}

.contentComment {
  font-family: Lato, sans-serif;
  text-align: justify;
  margin-bottom: 15px;
}

.zoneComment :nth-of-type(2n) {
  background-color: rgba(25, 108, 132, 0.15);
}

.writeComment {
  height: 17svh;
  resize: none;
  margin-bottom: 0px;
}
