h1,
.intro {
  text-align: center;
  color: rgb(12, 57, 68);
}

form {
  display: flex;
  font-family: "Lato", sans-serif;
  flex-direction: column;
  gap: 20px;
  width: 80vw;
  margin: auto;
}

h1 {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

input,
select,
.editor {
  font-family: "Lato", sans-serif;
  border-radius: 5px;
  border: solid whitesmoke 1px;
  box-shadow: 10px 5px 5px rgb(12, 57, 68);
}

.title > input {
  height: 40px;
  font-size: 2em;
  font-weight: bold;
}

select {
  height: 75px;
  font-size: 1em;
}

em {
  font-size: 0.75em;
  font-weight: lighter;
}

button {
  width: 20vw;
  height: 30px;
  background-color: rgb(12, 57, 68);
  border: none;
  color: white;
  border-radius: 5px;
  margin: auto;
}