.banniere {
  background-color: #F3976B;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}

h1,
.intro {
  text-align: center;
  color: rgb(12, 57, 68);
}

form {
  display: flex;
  font-family: "Lato", sans-serif;
  flex-direction: column;
  gap: 20px;
  width: 80vw;
  margin: auto;
}

h1 {
  font-family: "Raleway", sans-serif;
}

label, .label {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom : -15px
}

input,
select,
.editor {
  font-family: "Lato", sans-serif;
  border-radius: 5px;
  border: solid whitesmoke 1px;
  box-shadow: 10px 5px 5px rgb(12, 57, 68);
}

.title > input {
  height: 40px;
  font-size: 2em;
  font-weight: bold;
}

.date > input {
  font-size: 1em;
}


button, li {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  width: 25vw;
  height: 30px;
  background-color: rgb(12, 57, 68);
  border: none;
  color: white;
  border-radius: 5px;
  margin: auto;
}

.buttonServ, ul {
  display : flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap : 5px
}

li {
  list-style: none;
  text-align : center;
  vertical-align: middle;
  padding-top : 5px
}

button:active{
  background-color: white;
  color : rgb(12, 57, 68);
  border : solid rgb(12,57,68)
}