footer {
  background: rgba(25, 108, 132, 1);
  width: 100%;
  height: 75px;
  bottom: 0;
}

footer,
.creators {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", fantasy;
}
