nav {
  width: 100%;
  height: var(--nav-height, 6rem);
  top: 0;
  display: flex;
}
.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: auto;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
}

.Liens {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  white-space: nowrap;
  gap: 2rem;
  margin-left: 25rem;
  margin-top: 0.2rem;
  font-family: Raleway;
}

.logo {
  width: 20rem;
  height: 3rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.pp {
  border-radius: 50%;
  height: 4rem;
}
.rangement {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
}
.name {
  font-family: raleway;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .Liens {
    display: none;
  }
  .logo {
    width: 12rem;
    height: 3rem;
    margin-left: 5.5rem;
  }
  .headLinks {
    width: 100%;
  }
  .rangement {
    display: none;
  }
}
