.headLinks {
  width: 100%;
  height: var(--nav-height, 6rem);
  top: 0;
  display: flex;
  justify-content: space-between;
}
.navlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: auto;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
}

.liens {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  gap: 2rem;
  margin-top: 0.2rem;
  font-family: Raleway;
}

.logo {
  width: 20rem;
  height: 3rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.pp {
  border-radius: 50%;
  height: 4rem;
}
.rangement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
  padding-right: 1rem;
}
.name {
  font-family: raleway;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  text-align: center;
  font-size: 1.125rem;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  background-color: rgba(12, 57, 68, 1);
  border: 0.0625rem solid rgba(12, 57, 68, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 130px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3.375rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .Liens {
    display: none;
  }
  .logo {
    width: 12rem;
    height: 3rem;
    margin-left: 5.5rem;
  }
  .headLinks {
    width: 100%;
  }
  .rangement {
    display: none;
  }
}
