.mainHome {
background-color: rgba(12,57,68,1);
height: 713px;
margin-top: 95px;
}

.labelStyles {
    color: white;
}

img {
    display: flex;
    width: 700px;
    height:700px;
    float: right;
    top: 10px;
}

.Username {
    display: flex;
    font-size: large;
    margin-top: 15px;
    margin-left: 150px;
    padding: 15px;
    border-radius: 60px;
 }   

.Password {
    display: flex;
    margin-top: 15px;
    margin-left: 150px;
    padding: 26px;
  }   

  .login {
    display: flex;
    margin-top: 10px;
    margin-left: 200px;
    float: center;
    padding: 50px;
    border-radius: 60px;
 }
 
h1 {
    display: flex;
    padding: 35px;
    margin-left: 200px;
 }   
 
 .input {
    border-radius: 60px;
    width: 300px;
 }

 .button {
    border-radius: 60px;
    width: 150px;
    height: 25px;
    background-color: #FFF30D;

 }
 

 