.mainHome {
  display: flex;
  height: 81svh;
  background-color: rgba(12, 57, 68, 1);
}

.labelStyles {
  position: absolute;
  width: 60svw;
  color: white;
  left: 5rem;
  top: 13rem;
}

.imglogin {
  position: absolute;
  width: 40rem;
  height: 94svh;
  right: 2rem;
  top: 1rem;
  object-fit: cover;
}

.Username {
  display: flex;
  font-size: large;
  justify-content: center;
  border-radius: 60px;
}

.Password {
  display: flex;
  margin: auto;
  justify-content: center;
}

.login {
  display: flex;
  margin: auto;
  float: center;
  justify-content: center;
  padding: 10px;
  border-radius: 60px;
}

.bigTitle {
  font-family: "Raleway", sans-serif;
  font-size: 4em;
  color: white;
  display: flex;
  margin: auto;
}

.inputUsername,
.inputPassword {
  font-family: "Lato", sans-serif;
  height: 30px;
  border-radius: 60px;
  width: 20svw;
  text-align: center;
}

.loginbutton {
  font-family: "Raleway", sans-serif;
  border-radius: 60px;
  width: 150px;
  height: 25px;
  background-color: #fff30d;
  color: black;
}

.titleMake {
  text-align: center;
  font-family: "Raleway", sans-serif;
  width: 25svw;
  margin: auto;
  font-size: 3rem;
  color: white;
}

@media screen and (max-width: 1250px) {
  .labelStyles {
    width: 100%;
    color: white;
    top: 13rem;
    left: 0;
  }

  .imglogin {
    display: none;
  }
}
