.mainHome {
background-color: rgba(12,57,68,1);
height: 713px;
margin-top: 95px;
}

.labelStyles {
    color: white;
}

img {
    display: flex;
    width: 700px;
    height:700px;
    float: right;
    top: 10px;
}

.Username {
    display: flex;
    font-size: large;
    margin-top: 15px;
    padding: 12px;
 }   

.Password {
    display: flex;
    margin-top: 15px;
    padding: 12px;
  }   

  .login {
    display: flex;
    margin-top: 25px;
    float: center;
    padding: 12px;
 }
 
h1 {
    display: flex;
    padding: 35px;
 }   
 

 

 