* {
  margin: 0;
}

.mainHome {
  background-color: white;
  height: 27rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainHome :hover {
  box-shadow: 1.3125rem 1.3125rem 2.25rem 0 rgba(0, 0, 0, 0.1);
}

.banniere {
  background-color: rgba(12, 57, 68, 1);
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  display: flex;
  justify-content: center;
}

.Creer {
  background-color: white;
  width: 25rem;
  height: 22rem;
  margin-left: 5%;
  border-radius: 0.5rem;
  border-width: 0.0625rem;
  border-color: #eaeaea;
  background-color: #fff;
  box-shadow: 0.4375rem 0.4375rem 0.75rem 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  text-decoration: none;
  color: rgba(243, 151, 107, 1);
}

.EnCours {
  background-color: white;
  width: 25rem;
  height: 22rem;
  border-radius: 0.5rem;
  border-width: 0.0625rem;
  border-color: #eaeaea;
  background-color: #fff;
  box-shadow: 0.4375rem 0.4375rem 0.75rem 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  text-decoration: none;
  color: #fff30d;
}

.VoteEnd {
  background-color: white;
  width: 25rem;
  height: 22rem;
  margin-right: 5%;
  border-radius: 0.5rem;
  border-width: 0.0625rem;
  border-color: #eaeaea;
  background-color: #fff;
  box-shadow: 0.4375rem 0.4375rem 0.75rem 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  text-decoration: none;
  color: rgba(112, 175, 144, 1);
}

.imgCards {
  width: 25rem;
  height: 15rem;
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  background-size: 15%;
  pointer-events: none;
}

.TitreHome {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.TexteHome {
  color: black;
  margin-left: 2px;
  pointer-events: none;
}
