li {
  display: inline;
  line-height: 2rem;
  margin-left: 2rem;
  list-style-type: disc;
  font-family: raleway;
  color: black;
}

.créer {
  text-decoration: none;
}
.encours {
  text-decoration: none;
}
.termine {
  text-decoration: none;
}
