.voterButton {
  width: 6rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 3rem;
  font-weight: bold;
  background-color: rgba(25, 108, 132, 1);
}
