.banniere {
  background-color: #0c3944;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  color: white;
}

.mainHome {
  background-color: grey;
  height: 27rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.super {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  width: 35svw;
  height: 35px;
  background-color: rgb(12, 57, 68);
  border: none;
  color: white;
  border-radius: 5px;
  margin: auto;
}

form {
  display: flex;
  font-family: "Lato", sans-serif;
  flex-direction: column;
  gap: 20px;
  width: 80svw;
  margin: auto;
}

.title {
  height: 40px;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
}
