.banniere {
  background-color: #fff30d;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}

.block0 {
  display: flex;
  margin: 1%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  flex: 75%;
  margin-right: 1rem;
}

.showDemand {
  display: block;
  border: solid 1px;
  border-radius: 10px;
  height: 20%;
  position: relative;
  margin-bottom: 1rem;
}

.buttonContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.showDemand:hover {
  background-color: #eaeaea;
  box-shadow: 0.2375rem 0.2375rem 0.45rem 0 rgba(0, 0, 0, 0.1);
}

.blockFrontDemand {
  display: flex;
  justify-content: space-between;
}

.showDemand .titleFrontDemand {
  margin: 10px;
  border-bottom: none;
}

.showDemand .statutFrontDemand {
  margin: 10px;
  border-bottom: none;
}

.showDemand .contentFrontDemand {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  border-bottom: none;
}

.guide {
  display: block;
  float: right;
  width: 20%;
  height: 400px;
  border: 1px solid black;
}

.guide .content {
  text-align: center;
  padding: 1%;
}

.guide .content p {
  border-bottom: none;
}
