.banniere {
  background-color: #fff30d;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}

.guide {
  display: block;
  float: right;
  width: 20%;
  margin: 5%;
  padding: 1%;
}

.guide .content {
  border: 1px solid black;
  text-align: center;
  padding: 1%;
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.popupContent {
  width: 90rem;
  background-color: white;
  background-color: #d9d9d9;
  height: 45rem;
  border-radius: 8px;
}

.popupButton {
  width: 1.5rem;
  border-radius: 10px;
  text-align: center;
  margin-left: 88rem;
}

.title {
  font-family: raleway;
  display: flex;
  justify-content: center;
}

.note {
  display: block;
  float: right;
  width: 20%;
  margin: 5%;
  padding: 1%;
  background-color: white;
  height: 70%;
  border-radius: 5px;
}

.block4 {
  background-color: white;
  width: 60%;
  border-radius: 10px;
  height: 90%;
  margin-left: 1rem;
}

.block5 {
  display: block;
  float: right;
  width: 20%;
  margin: 5%;
  padding: 1%;
  background-color: white;
  border-radius: 10px;
  height: 70%;
}

.block3 {
  display: flex;
  align-self: center;
  justify-content: space-around;
}
