.banniere {
    background-color: #FFF30D;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
}

.guide {
    display: block;
    float: right;
    width: 20%;
    margin: 5%;
    padding: 1%;
}

.guide .content {
    border: 1px solid black;
    text-align: center;
    padding: 1%;
  }
