.mainHome{
    background-color:rgba(12, 57, 68, 1);
    height: 713px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 100px 100px,
}

.creer{
    background-color: white;
    width: 300px;
    height: 150px;
    margin-left: 75px;
    margin-top: 25%;
    border-radius: 15px;
}

.attente{
    background-color: white;
    width: 300px;
    height: 150px;
    margin-top: 25%;
    border-radius: 15px;
}

.désaccord{
    background-color: white;
    width: 300px;
    height: 150px;
    margin-top: 25%;
    border-radius: 15px;
}

.validée{
    background-color: white;
    width: 300px;
    height: 150px;
    margin-left: 75px;
    border-radius: 15px;
}

.enplace{
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 15px;
}

.archivée{
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 15px;
}