.appForm {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: Raleway;
}

h2 {
  font-family: Raleway;
}

h3 {
  font-family: Raleway;
}

h4 {
  font-family: Raleway;
}

h5 {
  font-family: Raleway;
}

h6 {
  font-family: Raleway;
}

p {
  font-family: lato;
}
